<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Overview - Cyber Risk Analyzer</title>
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>
    <body>
        <header id="fixed-header">
            <h2>Cyber Risk Analyzer - overview</h2>
        </header>

        <nav>
            <ul>
                <li><a href="#home" href="index.html" data-description="The main landing page">Home</a></li>
            </ul>
    </body>
    
</html>